## Author: Leanna Wagner

# Data Science Tools and Ecosystem

## *In this notebook, Data Science Tools and Ecosystem are summarized.*

##### **Objectives:**

+ List some of the popular Data Science Lanuguage
+ List some of the commonly used Data Science Libaries
+ List sof to tools used in Data Science

## **Some of the popular Data Science Languages are:**

  1. Python
1. R
1. SQL
1. Scala
1. Java
1. C++
1. Julia
1. Javascript
1. PHP
1. Visual Basic

## **Some of the commonly used Data Science Libraries are:**

1. NumPy
1. Pandas
1. Matpoltlib
1. Seaborn
1. Scikit-learn
1. PyTorch

## **There is an exhaustive List of Data Science Tools**
###  *Below are a few examples:*

|Data Science Tools|
|------------------|
|MySQL|
|hadoop|
|Apache SparkSQL|
|KubeFlow|
|GitHub|
|Bitbucket|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# Arithmetic expressions to mutiply the add integers

a=3
b=4
c=5

(a*b)+c

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200

hours = minutes / 60

print("hours =", hours)

hours = 3.3333333333333335